@import "../../../Variables.scss";

@media all and (max-width: 480px) {
  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 28px 16px;
    box-sizing: border-box;
    border-style: solid;
    border-color: green;
    justify-content: center;
  }

  .menu-icon-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    justify-items: center;
  }

  .menu-icon-square {
    height: 95px;
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    background: $white;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }
}

.menu-icon-image {
  width: 24px;
  height: 24px;
  filter: invert(1%) sepia(0%) saturate(1392%) hue-rotate(188deg) brightness(0%)
    contrast(0%);
  &:hover {
    cursor: pointer;
  }
}

.red {
  filter: brightness(0) saturate(100%) invert(18%) sepia(33%) saturate(5000%)
    hue-rotate(345deg) brightness(114%) contrast(99%);
}

.menu-icon-title {
  margin: 8px 0 0 0;
  font-size: 10px;
  font-family: $InterV_Semi;
  color: rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
}

.redColour {
  color: #bb1e1e;
}
