@import "../../../Variables.scss";

.sidebar-container {
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-square {
  height: 63px;
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  background: $white;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 5px;
}

.icon-image {
  max-width: 25px;
  max-height: 25px;
  filter: invert(1%) sepia(0%) saturate(1392%) hue-rotate(188deg) brightness(0%)
    contrast(0%);
  &:hover {
    cursor: pointer;
  }
}

.red {
  filter: brightness(0) saturate(100%) invert(18%) sepia(33%) saturate(5000%)
    hue-rotate(345deg) brightness(114%) contrast(99%);
}

.icon-title {
  margin: 4px 0 0 0;
  font-size: 10px;
  font-family: $InterV_Semi;
  color: rgba(0, 0, 0, 0.4);
  &:hover {
    cursor: pointer;
  }
}

.redColour {
  color: #bb1e1e;
}
