@import "../../../Variables.scss";

.article-box {
  // height: 100%;
  height: 252px;

  width: 100%;
  position: relative;
  border-radius: 8px;
  //   border-style: solid;
  //   border-color: red;
  box-shadow: 0px 1px 2px -1px #c8cad1;
}

.article-image-container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.article-image {
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.article-container {
  position: absolute;
  height: 112px;
  bottom: 0px;
  width: 100%;
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.article-category {
  height: 16px;
  margin: 12px 0 0 12px;
  font-weight: $InterV_Bold;
  font-size: 10px;
  // line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: #1e71bb;
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.article-title {
  margin: 2px 12px 0 12px;
  font-weight: $InterV_Medium;
  font-size: 16px;
  // line-height: 20px;
  letter-spacing: -0.11px;
  color: $black;
  transition: color 0.2s ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    color: rgb(119, 119, 119);
  }
}

.author-favorite {
  margin: 15px 12px 16px 12px;
  display: flex;
  justify-content: space-between;
}

.article-author {
  margin: 0;
  font-weight: $InterV;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.0675px;
  color: #1d1d1b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.fa-star {
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}
