@import "../../../Variables.scss";

.news-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 25px;
  margin-right: 0px;
}

.news-title {
  margin-top: 0;
  font-weight: $InterV_Semi;
  font-size: 18px;
  letter-spacing: -0.153px;
  color: #1d1d1b;
}

.news-gridLayout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 22px;
}

.latestNews-container {
  grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  position: relative;
  min-height: 343px;
}

@media all and (max-width: 768px) {
  .latestNews-container {
    visibility: hidden;
  }
}

/* .latest-title-container {
  position: relative;
  width: 100%;
  border-style: solid;
} */

.circle-container {
  position: relative;
}

.circle-inner {
  position: absolute;
  left: 25px;
  top: 29px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(187, 30, 30);
}

.circle-outer {
  position: absolute;
  left: 25px;
  top: 29px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(187, 30, 30);
  mix-blend-mode: normal;
  opacity: 0.24;
}

.latest-title {
  position: absolute;
  left: 45px;
  top: 29px;
  transform: translate(0, -50%);
  font-family: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  color: #000000;
}

.latest-footer-container {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #f4f5f8;
  height: 50.5px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.latest-footer-title {
  position: absolute;
  left: 14px;
  bottom: 16px;
  transform: translate(0, 60%);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.09625px;
  color: #1e71bb;
  &:hover {
    cursor: pointer;
  }
}

.latest-news-box {
  padding: 12px 0px 13px 0px;
  margin-left: 15px;
  margin-right: 25px;
  border-bottom: 1px solid #f4f5f8;
}

.latest-news-time {
  margin: 0;
  margin-bottom: 3px;
  width: 100%;
  height: 16px;
  font-weight: $InterV_Bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: #1e71bb;
}
.latest-news-title {
  margin: 0;
  width: 100%;
  height: 40px;
  font-weight: $InterV_Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  color: $black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.loadMore {
  margin: 40px 0 30px 0;
  font-weight: $InterV_Medium;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  color: #1e71bb;
  align-self: center;
  &:hover {
    cursor: pointer;
  }
}
