@import "../../../Variables.scss";

.navbar-container {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background-image: url("../navbarBackground.png");
  background-size: auto;
  display: flex;
  justify-content: center;
}

.navbar-text-container {
  height: 100%;
  width: 1095px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 42px;
}

.navbar-text-left {
  width: 237px;
  font-weight: $InterV_Bold;
  height: 21px;
  font-size: 16px;
  letter-spacing: -0.136px;
  color: $white;
  margin-left: 0;
  cursor: pointer;
}

.navbar-text-center {
  width: 330px;
  height: 21px;
  font-size: 14px;
  font-weight: $InterV;
  line-height: 21px;
  letter-spacing: -0.119px;
  color: $white;
  margin-left: 46px;
}

.navbar-button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-text-right {
  width: 74px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 24px;
  color: $white;
  font-weight: $InterV_Bold;
  cursor: pointer;
}

.navbar-button {
  width: 69px;
  height: 40px;
  background: $white;
  border-radius: 8px;
  border-width: 0;
  text-transform: uppercase;
  font-weight: $InterV_Bold;
  color: #1d1d1b;
  cursor: pointer;
}

// @media all and (max-width: 768px) {
//   .navbar-container {
//     visibility: hidden;
//   }
// }
